<% if (@textbox_banner_top.publish?) %>
  <div>
    <span class="banner">
    <h2><%= @textbox_banner_top.title %></h2>
    <p>
      <%= @textbox_banner_top.text %>
    </p>
  </span>
  </div>
<% end %>
