<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
<% end %>

<div id="column-1-big">

<h2>Kompletní svatební den</h2>
<p>
<ul id="wedding">
  <li>začínáme svatebním obřadem, </li>
  <li>skupinové fotografie, aranžované snímky ženicha a nevěsty
  odjezd a příjezd na hostinu, detaily - prstýnky, polibek
  zametaní střepů, přípitek, krájení dortu...
  aranžované fotografie novomanželů v pracích, zahradách.</li>
  <li>končíme prvním tancem novomanželů</li>

  <li>všechny fotografie na DVD - cca 100ks fotografií</li>
  
  <li>20ks vytištěních fotografií 13x18 cm, 3ks formátu A4</li>
  <li>celková cena 6000,-</li>
</ul>
</p>

<p>
V případě zájmu mě kdykoli kontaktujte (603 26 27 21 nebo sigut ZAVINÁČ sigut.net) pro zamluvení termínu.
</p>

</div>
<div id="column-2-big">
  <%= render :partial => "show" %>
</div>
<br clear="all">
