<ol>
  <li>Bank-to-bank transfer or PayPal</li>
  <li>50x70cm (20x28 inch)</li>
  <li>Limited edition print - maximum 20 copies HQ copies sent outside Czech Republic</li>
  <li>Photography is signed</li>
  <li>Nielsen photo frame/photo tubus/digital image file</li>
  <li>Price does not include shipping</li>
  <li>Do not hesitate to contact me (different size etc.) at e-mail <b>shipping at sigut.net</b></li>
</ol>
