<div style="height:32px;">
  <div id="loading_box" style="display:none;">
  </div>
</div>

<br clear="all">

<div id="photo_big">
  <%= render(:partial => 'photo') %>
</div>

<br clear="all">
<div class="hr"></div><!-- end hr div -->

<div id="photo_caption">
  <%= render :partial => 'photo_caption' %>
</div>

<br clear="all">

<div id="photo_comments">
  <%= render :partial => 'photo_comments' %>
</div>
