<div id="column-1"><h2>Petr Šigut</h2>
  <p class="large">
  (+420) <strong>603 26 27 21</strong><br/>
  <strong>sigut zavináč sigut.net</strong><br/>
  </p>

  <p>
  <h2>Pár slov o autorovi</h2>
  </p>

  <p>
  <strong>Zaměstnání</strong> &ndash; fotograf na volné noze od roku 2007
  </p>

  <p>
  <strong>Narozen</strong> &ndash; ano. 1962 Čeladná
  </p>

  <p>
  <strong>Záliby</strong> &ndash; ženy, alkohol, focení, dobré jídlo, cestování
  </p>

  <p>
  <strong>Bydliště</strong> &ndash; Tichá, Beskydy, Evropa
  </p>
  <p>
  <strong>Facebook</strong>
  <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FPetr-Sigut-Fotografie-Photography%2F122874467786219&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:82px;" allowTransparency="true"></iframe>

  </p>

  <p>
  <strong>Google+</strong>
  <a href="https://plus.google.com/112898340769598282304/posts">https://plus.google.com/112898340769598282304/posts</a>
  </p>


</div>
<div id="column-2">
  <h2>Reference</h2>

  <p>
  <strong>Publikace</strong> &ndash;  Fotografická publikace Beskydy
  </p>

  <p>
  <strong>Tiskoviny</strong> &ndash; Nástěnné kalendáře Beskyd 2006, 2007, 2008, 2009, 2010
  </p>
  <p>
  <strong>Výstavy</strong> &ndash; <%= link_to "výstavy", section_path(16) %>.

  <p>
  <strong>Zajímavost</strong> &ndash; lenost.
  </p>

  <p>
  <strong>YouTube</strong> &ndash; <a href="http://www.youtube.com/user/petrsigut">http://www.youtube.com/user/petrsigut</a>
  </p>
  <p>
  <strong>UVU ČR</strong> &ndash;
  <a href="http://www.uvucr.cz/rejstrik/rejstrik.htm">
  Národní registr profesionálních výtvarných umělců a designérů České Republiky
  </a>
  </p>
</div>

<div id="column-3">
  <img src="/images/autor.jpg" width="268" height="400" alt="autor" />
</div>

<br clear="all"/>

<div id="column-1">
<img src="/images/autor3.jpg" width="268" height="180" alt="autor" />
</div>

<div id="column-2">
  <h2>Reference</h2>
  <p>
  <ul>
  <li><a href="http://www.hoteleroplan.cz/luxusni-apartma-1-100.html">Hotel Eroplán ****</a> - focení interiérů
  <li><a href="http://www.mittalsteelostrava.com/">ArcelorMittal a.s.</a> - kalendáře, PF
  <li><a href="http://www.ckvt.cz/">Vítkovice Tours s.r.o.</a> - focení propagačních materiálů
  <li><a href="http://t-mobile.cz/Web/Residential/OSpolecnosti/CasopisyProZakazniky.aspx">T-Mobile Impuls</a> - propagační materiály
  <li><a href="http://www.conti-online.com/generator/www/start/cz/cz/index_cz.html">Continental</a> – focení propagačních materiálů, kalendáře

  <li><a href="http://www.radegast.cz/">Pivovar Radegast</a> – kniha Beskydy, kalendáře
  <li><a href="http://valasske-kralovstvi.cz/">Valašské království</a> - propagační materiály
  <li><a href="http://www.technoprojekt.cz/">Technoprojekt a.s.</a> - focení propagačních materiálů
  <li><a href="http://www.tatra.cz/cz/spodek.asp">Tatra a.s.</a> – kniha Beskydy
  <li><a href="http://www.biocel.cz/">Biocel Paskov a.s.</a> – Kniha Beskydy
</ul>
</p>

</div>

<div id="column-3">
  <h2>Soutěže</h2>
  <strong>PHOTO ANNUAL AWARDS 2011</strong>
  <p>
  <a href="http://www.photoannualawards.com/list-of-winners.html">2. místo v mezinárodní soutěži</a>
  </p>
  <br/>

  <strong>National Geographic International Photography Contest 2008</strong>
  <p>
  Fotografie Stará zahrada získala pozici na 4.-10. místo v kategorii Krajina.
  </p>
  <br/>

  <strong>National Geographic International Photography Contest 2007</strong>
  <p>
  <a href="http://www.national-geographic.cz/mezinarodni-fotosoutez-ng-2007-vyhlaseni-vitezu-1178/">3. místo v krajině</a>
  </p>

  <br/>
  <strong>Fotosoutěž Valašská krajina</strong>
  <p>
  <a href="http://www.valasskakrajina.cz/fotosoutez/6-rocnik-2007/">2. místo</a> ve fotosoutěži Valašská krajina 2007.
  </p>

  <br/>
  <strong>Nordfest - cestovatel</strong>
  <p>
  <a href="http://www.nordfest.sk/index.php?page=cestovatel">http://www.nordfest.sk/</a> fotografie <a href="http://sigut.net/foto-laponsko-808.html">Laponsko 3</a> získala čestné
  uznání poroty v rámci festivalu Nordfest.
  </p>

  <br/>
  <strong>National Geographic International Photography Contest 2006</strong>
  <p>
  <a href="http://www.national-geographic.cz/detail.asp?id=1221">
  1. místo</a> v kategorii Kultura a cestování a 6. místo v kategorii Přírodní
svět.
</p>

  <br/>
  <strong>digiKam &amp; showPhoto</strong>
  <p>
  <a href="http://www.digikam.org/drupal/node/493#comment-18992">
  Splashscreens pro verze 1.2.0 a 1.5.0
  </a>
  </p>
</div>

